.landing{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &__header{
        background-image: linear-gradient(
            rgba(57, 143, 255, 0.74),
            rgba(202, 224, 252, 0.61)), url("../images//bart-night.jpg");
        background-size: cover;
        opacity: .75;
        background-position: center;
        color: rgb(255, 255, 255);
        min-height: 50vh;

        &--text{
            border-radius: 5px;
            width: 50%;
            margin: 5rem auto;
            padding: 3rem;
            word-wrap: break-word;
            text-align: center;
            
            @media only screen and (max-width: 600px) {
                width: 100%;
            }

            h1{
                font-size: 4rem;
                @media only screen and (max-width: 600px) {
                    font-size: 2.5rem;
                }
            }

            p{
                font-size: 1.5rem;
                padding-bottom: 1rem;
                @media only screen and (max-width: 600px) {
                 font-size: 1rem;
                }
            }

            .search-button{
                background-color: rgb(57, 143, 255);
                color: white;
                font-size: 1.3rem;
                font-weight: bold;
                padding: .8rem;
                border-radius: 5px;
                transition: 1s;

                &:hover{
                    background-color: white;
                    color: rgb(57, 143, 255);
                }
            }
        }
    }
    
    &__info{
        background-color: #3f444c;
        color: white;
        min-height: 50vh;
        display: flex;
        justify-content: space-around;
        padding-top: 8rem;
        
        @media only screen and (max-width: 600px) {
            flex-direction: column;
            padding: 3rem;
        }
        
        &--section{
            width: 25%;
            //border: 1px solid white;
            text-align: center;
            @media only screen and (max-width: 600px) {
                width: 100%;
                padding: 2rem;
            }
        }
    }
}

html,body {
    margin:0;
    padding:0;
    background-color: rgb(44, 44, 44);
    font-family: Arial, Helvetica, sans-serif;
}
