html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

.landing {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .landing__header {
    background-image: linear-gradient(rgba(57, 143, 255, 0.74), rgba(202, 224, 252, 0.61)), url("../images//bart-night.jpg");
    background-size: cover;
    opacity: .75;
    background-position: center;
    color: white;
    min-height: 60vh; }
    .landing__header--text {
      border-radius: 5px;
      width: 50%;
      margin: 5rem auto;
      padding: 3rem;
      word-wrap: break-word;
      text-align: center; }
      @media only screen and (max-width: 600px) {
        .landing__header--text {
          width: 100%; } }
      .landing__header--text h1 {
        font-size: 4rem; }
        @media only screen and (max-width: 600px) {
          .landing__header--text h1 {
            font-size: 2.5rem; } }
      .landing__header--text p {
        font-size: 1.5rem;
        padding-bottom: 1rem; }
        @media only screen and (max-width: 600px) {
          .landing__header--text p {
            font-size: 1rem; } }
      .landing__header--text .search-button {
        background-color: #398fff;
        color: white;
        font-size: 1.3rem;
        font-weight: bold;
        padding: .8rem;
        border-radius: 5px;
        transition: 1s; }
        .landing__header--text .search-button:hover {
          background-color: white;
          color: #398fff; }
  .landing__info {
    background-color: #3f444c;
    color: white;
    min-height: 40vh;
    display: flex;
    justify-content: space-around;
    padding-top: 8rem; }
    @media only screen and (max-width: 600px) {
      .landing__info {
        flex-direction: column;
        padding: 3rem; } }
    .landing__info--section {
      width: 25%;
      text-align: center; }
      @media only screen and (max-width: 600px) {
        .landing__info--section {
          width: 100%;
          padding: 2rem; } }

.leaving {
  font-size: 1.15rem; }
  .leaving-now {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: red; }

.displayList {
  padding: 3rem;
  text-align: center; }

.list-item {
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25rem; }
  @media only screen and (max-width: 500px) {
    .list-item {
      width: 10rem; } }

.northSouthContainer {
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 900px) {
    .northSouthContainer {
      justify-content: flex-start; } }
  @media only screen and (max-width: 700px) {
    .northSouthContainer {
      flex-direction: column; } }

.searchPage {
  min-height: 100vh;
  color: white;
  display: flex;
  background-color: #51565f; }
  @media only screen and (max-width: 900px) {
    .searchPage {
      flex-direction: column; } }

.side-bar {
  background-color: #3F444C;
  width: 20%;
  min-height: 100vh;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  @media only screen and (max-width: 900px) {
    .side-bar {
      flex-direction: row;
      width: 100%;
      min-height: 20vh; } }
  .side-bar .selection {
    padding: 1rem; }
    @media only screen and (max-width: 500px) {
      .side-bar .selection {
        padding: .5rem; } }
  .side-bar .selection-pick {
    background-color: white;
    color: #3F444C;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 5ms, background-color .5s; }
    @media only screen and (max-width: 500px) {
      .side-bar .selection-pick {
        padding: .5rem; } }
    .side-bar .selection-pick:hover {
      background-color: #c8c8c8; }
    .side-bar .selection-pick:active {
      transform: scaleY(0.9); }

.display {
  color: white;
  min-height: 100vh;
  width: 80%; }
